@import "tailwindcss";
@tailwind utilities;


@theme {
  --font-ovo: "Ovo", serif; /* Font Ovo */
  --grid-cols-auto: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive */
}

/* Custom grid utility */
.grid-cols-auto {
  grid-template-columns: var(--grid-cols-auto);
}

/* ใช้ฟ้อนต์ Ovo ทั่วทั้งเว็บ */
body {
  font-family: var(--font-ovo);
}


*{
  font-family: Outfit;
}

